.logo {
  width: 150px;
  height: 50px;
}
header {
  display: flex;
  justify-content: space-between;
}
.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: blueviolet;
}
.aboutus {
  color: rgb(151, 151, 151);
}

.nav li {
  margin-right: 10px;
}
body {
  padding-left: 50px;
  padding-right: 50px;
}

.about {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.logo-ge {
  width: 200px;
}
